<div>
  <button mat-button [mat-dialog-close]="true" style="float: right;">
    <mat-icon>close</mat-icon>
  </button>
  <h1 style=" font-family: 'Times New Roman', Georgia, Serif; font-weight: 800;font-style: italic">DETALLE DEL DOCUMENTO
  </h1>
</div>
<div mat-dialog-content [align]="'center'">
  <mat-card style="background-color: rgb(250, 250, 250);">
    <table style="border-collapse: collapse; width: 100%;">
      <thead style="text-align: center; border-color: #000; border: solid 1px;">
          <tr>
            <th scope="col" rowspan="3" style="border-color: #000; border: solid 1px;">Exp: {{resultListExp.name.correlativo}}</th>
            <th scope="col" style="border-color: #000; border: solid 1px;">Área</th>
            <th scope="col" style="border-color: #000; border: solid 1px;">Fecha</th>
          </tr> 
          <tr>
            <th colspan="2" scope="col" style="border-color: #000; border: solid 1px;">Descripción</th>
          </tr>
      </thead>
           
      <tbody>
        <ng-container *ngFor = "let det of dataDetalle; let j = index;">
        <tr class="plomo">
          <td align="center" rowspan="2" style="border-color: #000; border: solid 1px;"># {{j+1}}</td>
          <td align="center" style="border-color: #000; border: solid 1px;">{{det.area}}</td>
          <td align="center" style="border-color: #000; border: solid 1px;">{{det.fecha | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr class="celeste">
          <td align="center" colspan="2" style="border-color: #000; border: solid 1px;">{{det.descripcion}}</td>
        </tr>
        </ng-container>
      </tbody>
      <!--  <tfoot>
        <tr>
          <th rowspan="2" scope="col">AÑO</th>
          <th scope="col">Producto A</th>
          <th scope="col">Producto B</th>
          <th scope="col">Producto C</th>
          <th scope="col">Producto D</th>
        </tr>
        <tr>
          <th colspan="4" scope="col">Expansión de ventas</th>
        </tr>
      </tfoot> -->
    </table>
  </mat-card>
</div>
<div mat-dialog-actions style="padding-bottom: 15px;; height: 12PX;" [align]="'center'">
    <button mat-stroked-button cdkFocusInitial color="accent" (click)="cerrar()">CERRAR</button>
</div>
