<p-card align="center" color="#1d3572" header="REGISTRAR EMPLEADO" class="dashboard-card">
  <mat-stepper linear #stepper>
    <mat-step [editable]="isEditable">
      <form [formGroup]="formGroupParent">
        <ng-template matStepLabel>Empleado</ng-template>
        <div class="row">
          <div class="col-sm" align="end">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>DNI</mat-label>
              <input matInput placeholder="INGRESE SU DNI" (keydown.enter)="buscarPersonaDNI($event);"
                formControlName="dni" maxlength="8" (keypress)="keyPress($event)">
            </mat-form-field>
          </div>
          <div class="col-sm" align="start">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>N° RUC</mat-label>
              <input matInput placeholder="INGRESE SU RUC" formControlName="ruc" (keypress)="keyPress($event)" maxlength="11">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm" align="end">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>Nombres</mat-label>
              <input matInput placeholder="INGRESE NOMBRES" formControlName="nombres" (keypress)="onlyLetras($event)" maxlength="99">
            </mat-form-field>
          </div>
          <div class="col-sm" align="start">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>Apellidos</mat-label>
              <input matInput placeholder="APELLIDOS" formControlName="apellidos" (keypress)="onlyLetras($event)" maxlength="99">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm" align="end">
            <mat-form-field color="accent" appearance="outline" class="styelInput">
              <mat-label>Fecha Nacimiento</mat-label>
              <input matInput [matDatepicker]="picker3" readonly="true" placeholder="DD/MM/AAAA"
                formControlName="fNacimiento">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm" align="start">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="INGRESE USUARIO" formControlName="usuario" (keyup)="validarUSuario()" maxlength="49">
            </mat-form-field>
            <mat-error class="font-error">
              <div style="position: fixed; margin-top: -20px !important; font-size: 12px;" *ngIf="formGroupParent.get('usuario').hasError('usuarioEr')">
                Este usuario ya existe!!!
              </div>
            </mat-error>
          </div>
        </div>
        <div class="row">
          <div class="col-sm" align="end">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>Número celular</mat-label>
              <input matInput placeholder="NUMERO CELULAR" formControlName="numCel" (keypress)="keyPress($event)" maxlength="9">
            </mat-form-field>
          </div>
          <div class="col-sm" align="start">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>Operador</mat-label>
              <mat-select disableRipple formControlName="operador">
                <mat-option value="Movistar">Movistar</mat-option>
                <mat-option value="Claro">Claro</mat-option>
                <mat-option value="Otros">Otros</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm" align="end">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="CORREO" formControlName="correo" maxlength="49">
            </mat-form-field>
          </div>
          <div class="col-sm" align="start">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>Dirección</mat-label>
              <input matInput placeholder="INGRESE DIRECCION" formControlName="direccion" maxlength="50">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm" align="end">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>Número de contrato</mat-label>
              <input matInput placeholder="NUMERO DE CONTRATO" formControlName="numContrato" maxlength="10">
            </mat-form-field>
          </div>
          <div class="col-sm" align="start">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>Adjuntar TDR </mat-label>
              <ngx-mat-file-input [accept]="'.pdf'" formControlName="tdrPDF"  (change)="cargarpdf()">
                <mat-icon ngxMatFileInputIcon>folder</mat-icon>
              </ngx-mat-file-input>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm" align="end">
            <mat-form-field color="accent" appearance="outline" class="styelInput">
              <mat-label>Inicio de Contrato</mat-label>
              <input matInput [matDatepicker]="picker1" readonly="true" placeholder="DD/MM/AAAA"
                formControlName="fechInicioContrato" [min]="minDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm" align="start">
            <mat-form-field color="accent" appearance="outline" class="styelInput">
              <mat-label>Fin de Contrato</mat-label>
              <input matInput [matDatepicker]="picker" readonly="true" placeholder="DD/MM/AAAA"
                formControlName="fechFinContrato" [min]="minDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm" align="end">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>Asignar Área</mat-label>
              <mat-select disableRipple formControlName="asigArea">
                <mat-option *ngFor="let elemet of listComboAreas" [value]="elemet.id">{{elemet.area}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm" align="start">
            <mat-form-field appearance="outline" class="styelInput">
              <mat-label>Asignar Cargo</mat-label>
              <mat-select disableRipple formControlName="asigCargo">
                <mat-option *ngFor="let element of listComboCargos" [value]="element.id">{{element.cargo}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
        <div class="col" align="center">
          <button mat-stroked-button color="accent" (click)="openDialog(stepper)" >GUARDAR</button>&nbsp;&nbsp;&nbsp;
          <button mat-stroked-button color="accent" (click)="limpiarFormulario()">LIMPIAR</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmado ✓✓</ng-template>
      <div>
        <img src="assets/confirm.jpg" style="width: 100px; height: 100px;">
      </div><br>
      <div>
        <div class="row">
          <div class="col-sm" align="end">
            <b>Usuario: </b>
          </div>
          <div class="col-sm" align="start">
            <mat-label>{{formGroupParent.value?.usuario}}</mat-label>
          </div>
        </div><br>
        <div class="row">
          <div class="col-sm" align="end">
            <b>Contraseña Temporal: </b>
          </div>
          <div class="col-sm" align="start">
            <mat-label>123456</mat-label>
          </div>
        </div><br>
      </div>
      <div>
        <p>"Recuerde cambiar la contraseña para seguir el flujo"</p>
      </div><br>
      <div>
        <!--button mat-stroked-button matStepperPrevious color="primary">Salir</!--button-->&nbsp;
        <button mat-stroked-button color="accent" (click)="generarNuevo(stepper)">Registrar Nuevo</button>
      </div>
    </mat-step>
  </mat-stepper>
</p-card>
<p-toast></p-toast>
